#
# Github Action to build The SELinux Notebook
#
# Copyright (c) 2022 Microsoft Corporation <paulmoore@microsoft.com>
# Author: Paul Moore <paul@paul-moore.com>
#

name: HTML build
on: ["push", "pull_request"]

jobs:
  html:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout from GitHub
      uses: actions/checkout@v2
    - name: Setup the build directory
      uses: ./.github/actions/setup
    - name: Run the build
      run: make html
    - name: Archive the rendering
      uses: actions/upload-artifact@v3
      with:
        name: HTML rendering
        path: ./html/SELinux_Notebook.html
